@section scripts {
    <script src="~/Scripts/ValidarRut.js"></script>
    <script type="text/javascript">

        var jq = jquery.noConflict();

        jq(document).ready(function() {
        //var datos =SSSSS
        jq("#user").rut();
        });
    </script>
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Random Login Form</title>
    <style>
              /* NOTE: The styles were added inline because Prefixfree needs access to your styles and they must be inlined if they are on local disk! */

        body{
            margin: 0;
            padding: 0;
            background: #fff;

            color: #fff;
            font-family: Arial;
            font-size: 12px;
        }

        .body{
            position: absolute;
            top: -20px;
            left: -20px;
            right: -40px;
            bottom: -40px;
            width: auto;
            height: auto;
            background-image: url(../../Imagenes/bG.jpg);
            background-size: cover;
            -webkit-filter: blur(5px);
            z-index: 0;
        }

        .grad{
            position: absolute;
            top: -20px;
            left: -20px;
            right: -40px;
            bottom: -40px;
            width: auto;
            height: auto;
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
            z-index: 1;
            opacity: 0.7;
        }

        .header{
            position: absolute;
            top: calc(25% - 25px);
            left: calc(58% - 255px);
            z-index: 2;
        }

        .header div{
            float: left;
            color: #fff;
            font-family: 'Exo', sans-serif;
            font-size: 35px;
            font-weight: 200;
        }

        .header div span{
            color: #0d152f !important;
        }

        .login{
            position: absolute;
            top: calc(50% - 75px);
            left: calc(40% - 40px);
            height: 150px;
            width: 350px;
            padding: 10px;
            z-index: 2;
            background-color: #303641;
    border: #303641;
        }

        .login input[type=text]{
            width: 250px;
            height: 30px;
            background: rgba(0, 0, 0, 0.64);
            border: 1px solid rgba(255,255,255,0.6);
            border-radius: 2px;
            color:  #dddddd;
            font-family: 'Exo', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 4px;
            margin-top:4px;
        }

        .login input[type=password]{
            width: 250px;
            height: 30px;
            background: rgba(0, 0, 0, 0.64);
            border: 1px solid rgba(255,255,255,0.6);
            border-radius: 2px;
            color: #dddddd;
            font-family: 'Exo', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 4px;
            margin-top: 10px;
        }

        .login input[type=button]{
            width: 260px;
            height: 35px;
            background: #fff;
            border: 1px solid #fff;
            cursor: pointer;
            border-radius: 2px;
            color: #a18d6c;
            font-family: 'Exo', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding: 6px;
            margin-top: 10px;
        }

        .login input[type=button]:hover{
            opacity: 0.8;
        }

        .login input[type=button]:active{
            opacity: 0.6;
        }

        .login input[type=text]:focus{
            outline: none;
            border: 1px solid rgba(255,255,255,0.9);
        }

        .login input[type=password]:focus{
            outline: none;
            border: 1px solid rgba(255,255,255,0.9);
        }

        .login input[type=button]:focus{
            outline: none;
        }

        ::-webkit-input-placeholder{
           color: rgba(255,255,255,0.6);
        }

        ::-moz-input-placeholder{
           color: rgba(255,255,255,0.6);
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script><script src="~/Scripts/ValidarRut.js"></script>
    
    <script src="~/Scripts/Js/Login/Login.js"></script>
    
</head>
<body>
    <div class="body"></div>
    <div class="grad"></div>
    <div class="header">
        <div>Inicie<span>Sesión</span></div>
    </div>
    
    <div class="login" style="text-align: center;border-radius: 8px/7px;">
        <input type="text" placeholder="Rut" name="user" id="user"><br>
        <input type="password" placeholder="Contraseña" id="password" name="password"><br>
        <input type="button" style="background-color: darkslategray;border: #303641;text-align: center" value="Login" onclick="ValidarUsu()">
        <label for="field-1" id="txtTextoOculto" class="col-sm-12 control-label"></label>
        <br />
        <br />
        <br />
        <br />
        <div style="text-align:left">
            <a href="~/Paciente/RegistroPaciente"><h3 style="color:white"><strong>Registrar Nuevo Usuario </strong></h3></a>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    </body>
</html>

<script>


    function ValidarUsu() {
        //Crear Objeto Json
        var param = {
            "usu": jQuery("#user").val(),
            "passw": jQuery("#password").val(),
        };

        console.log(param)

        var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        jQuery.ajax({
            type: "POST",
            url: './ValidadorCredenciales',
            data: JSON.stringify(param),
            datatype: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (returndata) {
                if (returndata != "False") {

                    //toastr.success(" Datos ingresados con exito.", "Agenda Diaria", opts);
                    window.location.href = "Bienvenida";
                }
                else {
                    //jQuery('.login').removeClass('has-success');
                    jQuery('.login').addClass('has-error');
                    jQuery('#txtTextoOculto').html('El usuario ingresado no existe, intente nuevamente');
                    //toastr.error('Error al ingresar Datos', "Agenda Diaria", opts);
                    jQuery('#user').val('');
                    jQuery('#password').val('');
                    return;
                }
                setTimeout(function () {
                    location.reload();
                }, 1000);
            }
        });
    }
</script>