<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información acerca de cómo configurar una aplicación ASP.NET, consulte
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
 <configuration>
   <configSections>
     <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
     <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
   </configSections>
   <connectionStrings>
     <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-CentroMedico.Mvc-20170413044534.mdf;Initial Catalog=aspnet-CentroMedico.Mvc-20170413044534;Integrated Security=True" providerName="System.Data.SqlClient" />
   </connectionStrings>
   <appSettings>
     <add key="webpages:Version" value="3.0.0.0" />
     <add key="webpages:Enabled" value="false" />
     <add key="ClientValidationEnabled" value="true" />
     <add key="UnobtrusiveJavaScriptEnabled" value="true" />
     <add key="UserCorreo" value="cla.olivaresa@alumnos.duoc.cl" />
     <add key="PassCorreo" value=".Nicolas21" />
     <add key="ServerCorreo" value="cla.olivaresa@alumnos.duoc.cl" />
   </appSettings>
   <system.web>
     <authentication mode="None" />
     <compilation debug="true" targetFramework="4.5.2" />
     <httpRuntime targetFramework="4.5.2" />
     <httpModules>
       <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
     </httpModules>
   </system.web>
   <system.webServer>
     <modules>
       <remove name="FormsAuthentication" />
       <remove name="ApplicationInsightsWebTracking" />
       <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
     </modules>
     <validation validateIntegratedModeConfiguration="false" />
   </system.webServer>
   <runtime>
     <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
       <dependentAssembly>
         <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
         <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
       </dependentAssembly>
       <dependentAssembly>
         <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
         <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
       </dependentAssembly>
       <dependentAssembly>
         <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
         <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
       </dependentAssembly>
       <dependentAssembly>
         <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
         <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
       </dependentAssembly>
       <dependentAssembly>
         <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
         <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
       </dependentAssembly>
       <dependentAssembly>
         <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
         <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
       </dependentAssembly>
       <dependentAssembly>
         <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
         <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
       </dependentAssembly>
     </assemblyBinding>
   </runtime>
   <entityFramework>
     <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
     <providers>
       <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
     </providers>
   </entityFramework>
   <system.codedom>
     <compilers>
       <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
       <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
     </compilers>
   </system.codedom>
   <system.serviceModel>
     <bindings>
       <basicHttpBinding>
         <binding name="BasicHttpBinding_ISecretaria" />
         <binding name="BasicHttpBinding_IAgenda" />
         <binding name="BasicHttpBinding_IMedico" />
         <binding name="BasicHttpBinding_IPaciente" />
         <binding name="BasicHttpBinding_IPrevision" />
         <binding name="BasicHttpBinding_IRegistro" />
         <binding name="BasicHttpBinding_IReserva" />
         <binding name="BasicHttpBinding_ISucursales" />
         <binding name="BasicHttpBinding_IEspecialidad" />
         <binding name="BasicHttpBinding_IAgendaDiariasvc" />
         <binding name="BasicHttpBinding_IEstadoReserva" />
         <binding name="BasicHttpBinding_ICajero" />
       </basicHttpBinding>
     </bindings>
     <client>
       <endpoint address="http://localhost:59231/Secretaria.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecretaria" contract="SecretariaSvc.ISecretaria" name="BasicHttpBinding_ISecretaria" />
       <endpoint address="http://localhost:59231/Medico.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMedico" contract="MedicoSvc.IMedico" name="BasicHttpBinding_IMedico" />
       <endpoint address="http://localhost:59231/Paciente.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaciente" contract="PacienteSvc.IPaciente" name="BasicHttpBinding_IPaciente" />
       <endpoint address="http://localhost:59231/Prevision.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPrevision" contract="PrevisionSvc.IPrevision" name="BasicHttpBinding_IPrevision" />
       <endpoint address="http://localhost:59231/Registro.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRegistro" contract="RegistroSvc.IRegistro" name="BasicHttpBinding_IRegistro" />
       <endpoint address="http://localhost:59231/Sucursales.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISucursales" contract="SucursalesSvc.ISucursales" name="BasicHttpBinding_ISucursales" />
       <endpoint address="http://localhost:59231/Especialidad.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEspecialidad" contract="EspecialidadSvc.IEspecialidad" name="BasicHttpBinding_IEspecialidad" />
       <endpoint address="http://localhost:59231/Reserva.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IReserva" contract="ReservaSvc.IReserva" name="BasicHttpBinding_IReserva" />
       <endpoint address="http://localhost:59231/EstadoReserva.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEstadoReserva" contract="EstadoReservaSvc.IEstadoReserva" name="BasicHttpBinding_IEstadoReserva" />
       <endpoint address="http://localhost:59231/Agenda.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgenda" contract="AgendaSvc.IAgenda" name="BasicHttpBinding_IAgenda" />
       <endpoint address="http://localhost:59231/AgendaDiariasvc.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgendaDiariasvc" contract="AgendaDiariaSvc.IAgendaDiariasvc" name="BasicHttpBinding_IAgendaDiariasvc" />
       <endpoint address="http://localhost:59231/Cajero.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICajero" contract="CajeroSvc.ICajero" name="BasicHttpBinding_ICajero" />
     </client>
   </system.serviceModel>
 </configuration>
