
@{
    ViewBag.Title = "Comisiones";
}

<h2 style="color:white">Comisiones</h2>
<p style="color:white">
    11. El sistema del centro debe emitir un comprobante de cobro de comisión por cada médico, el cual debe ser firmado a modo de aceptación del cobro.?
    12. El sistema del centro debe registrar el pago efectivo de las comisiones por parte de cada médico, esto con la finalidad de no continuar con el cobro (solo con fines informativos se ingresará el comprobante de depósito o transferencia)
</p>

