
<script src="~/Scripts/Js/Secretaria/CalendarioHorasMedicas.js"></script>
<!--Combo de Medico-->
@*<script>
                    $(document).ready(function () {
                        $("#combo").jqxComboBox({});
                    });
    </script>*@

<div class="row">
    <div class="col-md-12">

        <div class="panel panel-info" data-collapsed="0" style="background-color: gainsboro">

            <div class="panel-heading" style="text-align:center;">
                <div class="panel-title">
                    <h2 style="text-align:center;color:#428bca">Horas Disponibles</h2>
                </div>
            </div>
            <div class="panel-body" style="border-radius: 8px/7px; ">
                <form role="form">
                    <div class="panel-body">
                        <!--Combobox de Medico-->
                        <div class="form-group" style="border: 0">
                            <h4 style="margin-left: 200px;" class="col-sm-2 control-label">Profesional</h4>
                            <div class="row col-sm-3">
                                <select id="combo" style="display: block; width: 100%; margin: inherit; height: 31px;padding: 6px 12px;font-size: 12px;line-height: 1.42857143;color: #555555;background-color: #ffffff;background-image: none;border: 1px solid #ebebeb;border-radius: 3px;">
                                    <option value="0">Seleccione</option>
                                    @foreach (var item in ViewBag.listaMedicosAgenda)
                                    {
                                        <option value="@item.medico_id">@item.medico_nombre @item.medico_apellido_paterno</option>
                                    }
                                </select>

                            </div>

                            <button type="button" id="btnEntrarLogin" class="btn btn-success" onclick="llamarCalendario()">Consultar</button>
                        </div>
                        <label style="color:crimson" for='field-2' class="control-label" id="txtTextoOculto"></label>
                    </div>
                    <br />
                    <div id="contenedorDisponibilidadDiaria"></div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edicion -->
<div class="modal  custom-width" data-height="150" data-scroll-position="left" data-rail-opacity="1" data-rail-width="12" data-rail-radius="0" data-rail-color="#fff" data-autohide="0" id="Modal_Mostrar">
    <div class="modal-dialog" style="margin-left:-45%;width:95%;">
        <div class="modal-content" style="width: 1200px;">
            <div class="modal-header" style="background-color: #c5e8f7; ">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>               
                    <img id="imagenLogo" src="~/Imagenes/logo.png" alt="" width="120" height="35" hr />    
            </div>
            <div class="modal-body" style="border-radius: 8px/7px;background-color: gainsboro;  ">
                <div class="row">
                    <!-- Edicion -->
                    <h4 style="margin-left: 200px;">Edición disponibilidad diaria</h4>
                    
                    <div class="col-md-6">
                        <form class="form-horizontal">
                            <br /><br />
                            <input type="text" id="txtnum">
                            <div class="col-md-4">
                                <label for="field-4" class="control-label">Hora inicio</label>
                                <input type="text" class="form-control timepicker" id="EDtxtHoraInicio" data-template="dropdown" data-show-seconds="false" data-default-time="08:00" data-show-meridian="false" data-minute-step="15" />
                            </div>
                            <div class="col-md-4">
                                <label for="field-5" class="control-label">Hora Termino</label>
                                <input type="text" class="form-control timepicker" data-template="dropdown" id="EDtxtHoraTermino" data-show-seconds="false" data-default-time="18:00" data-show-meridian="false" data-minute-step="15" />
                            </div>
                            <div class="col-md-4">
                                <label for="field-6" class="control-label">Tiempo duración</label>
                                <select class="form-control" id="EDtxtSelectDuracion">
                                    <option value="0">Seleccione</option>
                                    <option value="15">15 Minutos</option>
                                    <option value="20">20 Minutos</option>
                                    <option value="30">30 Minutos</option>
                                </select>

                            </div>

                        </form>
                    </div><!-- /. Edicion -->
                    <!-- Muestra horas-->
                    <div class="col-md-6">
                        <form class="form-horizontal">
                            <div class="scrollable" data-height="300">
                                <div id="contenedorTablaHoras"></div>
                            </div>

                        </form>
                    </div><!-- /. Muestra horas -->

                </div>
            </div>
            <div class="modal-footer" style="background-color: #c5e8f7;;margin-top: -1px ">
                <button type="button" class="btn btn-info" onclick="EditarAgendaDiaria()">Editar<i class="entypo-pencil"></i></button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!--Fin Modal Edicion -->


<script>
    jQuery(document).ready(function ($) {
        jQuery("#txtnum").hide();



    });
    function Modificar(num) {
        CargarTabla(num);
        jQuery("#Modal_Edicion").modal("show", { backdrop: 'static' });
        jQuery("#txtnum").val(num);
        jQuery("#EDtxtHoraInicio").val('');
        jQuery("#EDtxtHoraTermino").val('');
        jQuery("#EDtxtSelectDuracion").val('');


    }

    function EditarAgendaDiaria() {

        //Crear Objeto Json
        var param = {
            "cadena": jQuery("#txtnum").val(),
            "EDhoraInicio": jQuery("#EDtxtHoraInicio").val(),
            "EDhoraTermino": jQuery("#EDtxtHoraTermino").val(),
            "EDtiempoAtencion": jQuery("#EDtxtSelectDuracion").val(),


        };

        console.log(param)

        var opts = {
            "closeButton": true,
            "debug": false,
            "positionClass": "toast-top-right",
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": "5000",
            "extendedTimeOut": "1000",
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut"
        };

        jQuery.ajax({
            type: "POST",
            url: 'EditarAgendaDiaria',
            data: JSON.stringify(param),
            datatype: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (returndata) {

                if (returndata != "False") {

                    toastr.success("Datos editados con exito.", "Edición", opts);



                }
                else {
                    //toastr.error('Error al editar Datos', "Edición", opts);
                    return;
                }

            }
        });
        CargarTabla(jQuery("#txtnum").val());
    }

    function CargarTabla(num) {
        jQuery("#Modal_Mostrar").modal("show", { backdrop: 'static' });

        var param = {
            "cadena": num,
            //"fecha": jQuery("#DateFecha").val(fecha),
        };
        jQuery.ajax({
            url: 'MuestraHorasxdia',
            type: "POST",
            data: JSON.stringify(param),
            datatype: "JSON",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                jQuery('#contenedorTablaHoras').slideUp();
            },
            success: function (returndata) {

                jQuery('#contenedorTablaHoras').html(returndata.tabla);
                jQuery('#contenedorTablaHoras').slideDown();
                jQuery("#TablaHorasxdia").dataTable({
                    "aaSorting": [[3, "asc"]]
                });

                jQuery('#contenedorTablaHorasGeneral').slideDown();


            }
        });





    }

    function llamarCalendario() {

        var param = {
            "id_medico": jQuery("#combo").val(),
        };

        jQuery.ajax({
            url: 'Calendario',
            type: "POST",
            data: JSON.stringify(param),
            datatype: "JSON",
            contentType: "application/json; charset=utf-8",
            beforeSend: function () {
                jQuery('#contenedorDisponibilidadDiaria').slideUp();
            },
            success: function (returndata) {
                console.log(returndata)
                jQuery('#contenedorDisponibilidadDiaria').html(returndata.tabla);
                jQuery("#TablaDisponibilidadDiaria").dataTable({
                    "aaSorting": [[3, "asc"]]
                });
                jQuery('#txtTextoOculto').html('');
                jQuery('#contenedorDisponibilidadDiaria').slideDown();
            }
        });
    }


</script>

