@section scripts {
    <script src="~/Scripts/Validar-eMail.js"></script>
    <script src="~/Scripts/Js/Secretaria/RegistroSecretaria.js"></script>
    <script src="~/Scripts/ValidarRut.js"></script>

    <!--Mensajes de ok y no ok-->
    <script src="~/Scripts/assets/js/toastr.js"></script>
    <script src="~/Scripts/assets/js/jquery.validate.min.js"></script>
    <script src="~/Scripts/assets/js/neon-chat.js"></script>

    <!--Funcion para rut-->
    <script>
        $(document).ready(function () {

            $("#txtRut").rut();
        });

    </script>

<script>
    document
    $(document).ready(function () {
        console.log("ready!");
        jQuery("#imagenlogo").css("margin", "2%");
        jQuery("#txtTextoOculto").hide();
        jQuery("#txtTextoOculto2").hide();
    });
</script>
}
    <!--Inicio de formulario-->
<h2 style="text-align:center;color:white">Registro de Secretaria</h2>
    <div class="row">
        <div class="col-md-3" style="align-content:center"></div>
        <div class="col-md-6">
            <div class="panel panel-primary" data-collapsed="0">
                <div class="panel-body">
                    <form role="form" class="form-horizontal form-groups-bordered">
                        <div class="panel-body">
                            <!--Mensaje de paciente registrado-->
                            <div class="row col-md-12">
                                <div class="alert alert-danger" id="txtTextoOculto" style="height: 60px">
                                </div>
                            </div>
                            <!--rut-->
                            <div class="form-group">
                                <label for="field-1" class="col-sm-3 control-label">Rut</label>
                                <div class="col-sm-6">
                                    <input required type="text" onfocusout="return ValidarDuplicidadSecretaria()" class="form-control" id="txtRut" placeholder="Con puntos y con guión">
                                </div>
                            </div>
                            <!--nombre-->
                            <div class="form-group">
                                <label for="field-1" class="col-sm-3 control-label">Nombre</label>
                                <div class="col-sm-6">
                                    <input required type="text" class="form-control" id="txtNombre" placeholder="Máximo 15 caracteres" onkeypress="return soloLetras(event)">
                                </div>
                            </div>
                            <!--apellido paterno-->
                            <div class="form-group">
                                <label for="field-1" class="col-sm-3 control-label">Apellido Paterno</label>
                                <div class="col-sm-6">
                                    <input required type="text" class="form-control" id="txtApellidoP" placeholder="Máximo 15 caracteres" onkeypress="return soloLetras(event)">
                                </div>
                            </div>
                            <!--apellido materno-->
                            <div class="form-group">
                                <label for="field-1" class="col-sm-3 control-label">Apellido Materno</label>
                                <div class="col-sm-6">
                                    <input required type="text" class="form-control" id="txtApellidoM" placeholder="Máximo 15 caracteres" onkeypress="return soloLetras(event)">
                                </div>
                            </div>
                            <!--Email-->
                            <div class="form-group">
                                <label required for="field-1" class="col-sm-3 control-label">Email</label>
                                <div class="col-sm-6">
                                    <input required type="text" class="form-control" id="txtEmail" data-validate="email" placeholder="Maximo 20 caracteres" onkeypress="return ValidarEmail(vEmail)">
                                </div>
                            </div>
                            <!--Contraseña1-->
                            <div class="form-group">
                                <label for="field-1" class="col-sm-3 control-label">Contraseña</label>
                                <div class="col-sm-6">
                                    <input required type="password" class="form-control" id="txtPass" placeholder="Debe tener entre 4 y 9 caracteres">
                                </div>
                            </div>
                            <!--Contraseña2-->
                            <div class="form-group">
                                <label for="field-1" class="col-sm-3 control-label">Reingrese Contraseña</label>
                                <div class="col-sm-6">
                                    <input required type="password" class="form-control" id="txtReingresoPass" placeholder="Contraseñas deben coincidir">
                                </div>  
                            </div>
                            <!--Mensaje de ok-->
                            <!--Mensaje de ok-->
                            <div class="row col-md-12">
                                <div class="alert alert-success" id="txtTextoOculto2" style="height: 60px">
                                </div>
                            </div>
                            <!--Boton de guardar-->
                            <div class="col-md-11">
                                <div class="row" style="text-align:center">
                                    <button type="button" id="btnEnviar" class="btn btn-success" onclick="RegistraSecretaria()">Guardar <i class="entypo-floppy"></i></button>
                                </div>
                            </div>
                            <br />
                            <br />
                            <!--Link para ir al login-->
                            <div id='content'>
                                <div>
                                    <h4><a href="~/Login/Login">Volver al Login</a></h4>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>